[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/freeglut"]
	path = libs/freeglut
	url = https://github.com/FreeGLUTProject/freeglut.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew-cmake"]
	path = libs/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
